<div class="content box-shadow auth-content">
  <form class="login-form" #resetForm="ngForm" (ngSubmit)="onSubmit(resetForm)">
    <!--<input type="hidden" name="_token" value="{{ csrf_token() }}"/>-->
    <input type="hidden" class="text" name="md5_email" value="{{$md5_email}}"/>
    <div class="margin-bottom-30">
      <h3>New Password</h3>
    </div>
    <!--<span class="text-danger">{{Session::get('password_error')}}</span>-->
    <div class="form-group">
      <label class="control-label visible-ie8 visible-ie9">Password</label>
      <div class="input-icon">
        <i class="fa fa-lock"></i>
        <input class="form-control placeholder-no-fix" type="password" autocomplete="off" id="register_password"
               placeholder="password" name="password" required [(ngModel)]="password"/>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label visible-ie8 visible-ie9">Re-type Your Password</label>
      <div class="controls">
        <div class="input-icon">
          <i class="fa fa-check"></i>
          <input class="form-control placeholder-no-fix" type="password" autocomplete="off" placeholder="confirm"
                 name="confirm_password" required [(ngModel)]="retype_password"/>
        </div>
      </div>
    </div>
    <div class="form-group">
      <button [routerLink]="['/account/password/forgot']" id="register-back-btn" type="button" class="btn grey-salsa btn-outline">
        <!--<i class="m-icon-swapleft"></i> -->
        Back
      </button>
      <button  type="submit" id="register-submit-btn"
              class="btn green-haze pull-right">
        Reset
        <!--<i class="m-icon-swapright m-icon-white"></i>-->
      </button>
    </div>
  </form>
</div>
