<div class="container">
  <div class="portlet light bordered box-shadow">
    <div class="portlet-title">
      <div class="caption font-dark-sunglo">
        <i class="fa fa-legal font-dark-sunglo"></i>
        <span class="caption-subject bold uppercase">Lawfirm Signup</span>
      </div>
      <button (click)="back()" id="register-back-btn" type="button" class="btn grey-salsa btn-outline pull-right">
        Back
      </button>
    </div>
    <div class="portlet-body form">
      <form role="form" id="lawfirm_create">
        <div class="form-body">
          <div class="row">
            <div class="col-md-6 col-xs-12">
              <div class="form-group">
                <label class="control-label">Country</label>
                <div id="countrySelector"></div>
              </div>
              <div class="form-group">
                <label class="control-label">State</label>
                <div id="stateSelector"></div>
              </div>
              <div class="form-group">
                <label class="control-label">Province</label>
                <input type="text" name="province" class="form-control" placeholder="" [(ngModel)]="lawfirm.province"
                  [ngModelOptions]="{standalone: true}">
              </div>
              <div class="form-group">
                <label class="control-label">City</label>
                <input type="text" name="city" class="form-control" placeholder="" [(ngModel)]="lawfirm.city"
                  [ngModelOptions]="{standalone: true}" required>
              </div>
              <div class="form-group">
                <label class="control-label">Street Number/Name</label>
                <input type="text" name="street" class="form-control" placeholder="" [(ngModel)]="lawfirm.street"
                  [ngModelOptions]="{standalone: true}" required>
              </div>
              <div class="form-group margin-top-20">
                <table>
                  <tr>
                    <td>Apt.</td>
                    <td>Ste.</td>
                    <td>Flr.</td>
                    <td>Number</td>
                  </tr>
                  <tr>
                    <td>
                      <label class="mt-checkbox mt-checkbox-outline">
                        <input type="checkbox" name="apartment" [checked]="lawfirm.apt_type == 'apartment'"
                          (change)="onAptTypeChanged($event, 'apartment')" />
                        <span></span>
                      </label>
                    </td>
                    <td>
                      <label class="mt-checkbox mt-checkbox-outline">
                        <input type="checkbox" name="suite" [checked]="lawfirm.apt_type == 'suite'"
                          (change)="onAptTypeChanged($event, 'suite')" />
                        <span></span>
                      </label>
                    </td>
                    <td>
                      <label class="mt-checkbox mt-checkbox-outline">
                        <input type="checkbox" name="floor" [checked]="lawfirm.apt_type == 'floor'"
                          (change)="onAptTypeChanged($event, 'floor')" />
                        <span></span>
                      </label>
                    </td>
                    <td>
                      <input class="form-control" type="text" placeholder="" name="apt_number"
                        [(ngModel)]="lawfirm.apt_number" [ngModelOptions]="{standalone: true}" />
                    </td>
                  </tr>
                </table>
              </div>
            </div>
            <div class="col-md-6 col-xs-12">
              <div class="form-group">
                <label class="control-label">Law Firm Name</label>
                <input type="text" name="name" class="form-control" placeholder="" [(ngModel)]="lawfirm.name"
                  [ngModelOptions]="{standalone: true}" required>
              </div>
              <div class="form-group">
                <label class="control-label">Password</label>
                <input type="password" name="lawfirm_password" class="form-control" [(ngModel)]="lawfirm.password"
                  [ngModelOptions]="{standalone: true}" required>
              </div>
              <div class="form-group">
                <label class="control-label">Confirm Password</label>
                <input type="password" class="form-control" [(ngModel)]="confirm_password"
                  [ngModelOptions]="{standalone: true}" required>
              </div>
              <div class="form-group">
                <label class="control-label">Zip Code</label>
                <input type="text" name="zip_code" class="form-control" placeholder="" [(ngModel)]="lawfirm.zip_code"
                  [ngModelOptions]="{standalone: true}" required>
              </div>
              <div class="form-group">
                <label class="control-label">Postal Code</label>
                <input type="text" name="postal_code" class="form-control" placeholder=""
                  [(ngModel)]="lawfirm.postal_code" [ngModelOptions]="{standalone: true}">
              </div>
            </div>
          </div>
          <hr />
          <div class="form-group text-center">
            <button type="submit" class="btn green wide"
              style="margin-top: 10px; margin-bottom: -20px; width: 250px; padding: 10px 0;">
              Create
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
