.bg-lawfirm-learn {
  background-image: linear-gradient(145deg, #0070bb 0%, #32c5d2 100%);
}

.bg-lawfirm-faq {
  background-image: url(../../../assets/common/img/bgs/law-firm-faq.jpg);
  background-position: center;
  background-size: cover !important;
}
