<div class="page-container">
  <!-- BEGIN CONTENT -->
  <div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <!-- BEGIN PAGE CONTENT BODY -->
    <div class="page-content">
      <div class="container">
        <!-- BEGIN PAGE CONTENT INNER -->
        <div class="page-content-inner">
          <div class="row">
            <div class="col-md-12">
              <!-- BEGIN EXAMPLE TABLE PORTLET-->
              <div class="portlet light">
                <div class="portlet-title">
                  <div class="caption font-dark-sunglo">
                    <img src="/assets/common/img/icons/clients-disabled.png" class="img-icon" />&nbsp;
                    <span class="caption-subject bold uppercase">Deleted Client List</span>
                  </div>
                </div>
                <div class="portlet-body">
                  <div class="row margin-bottom-20">
                    <div class="col-md-7">
                      <a id="detailButton" class="btn btn-default btn-sm disabled">
                        <i class="fa fa-edit"></i> Detail
                      </a>
                      <a id="reactivationButton" class="btn blue btn-sm disabled">
                        <i class="fa fa-reply"></i> Reactivate
                      </a>
                    </div>
                    <div class="col-md-5 text-right">
                      <div class="input-group round-search" style="margin-right: -40px">
                        <span class="input-group-addon" id="basic-addon1"><i class="fa fa-search"></i></span>
                        <input type="text" class="form-control" id="searchInput" aria-describedby="basic-addon1" />
                      </div>
                    </div>
                  </div>
                  <table id="clientsTable" class="display" style="width: 100%"></table>
                </div>
              </div>
              <!-- END EXAMPLE TABLE PORTLET-->
            </div>
          </div>
        </div>
        <!-- END PAGE CONTENT INNER -->
      </div>
    </div>
    <!-- END PAGE CONTENT BODY -->
    <!-- END CONTENT BODY -->
  </div>
  <!-- END CONTENT -->
</div>
