<div class="container">
  <div class="portlet light bordered box-shadow">
    <div class="portlet-title">
      <div class="caption font-dark-sunglo">
        <i class="icon-user font-dark-sunglo"></i>
        <span class="caption-subject bold uppercase">User Signup</span>
      </div>
      <button (click)="back()" id="register-back-btn" type="button" class="btn grey-salsa btn-outline pull-right">
        Back
      </button>
    </div>
    <div class="portlet-body form">
      <form id="registerForm" #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)">
        <div class="margin-bottom-10">
          <div class="col-sm-3 margin-top-10">
            <div>Permission Level</div>
          </div>
          <div class="col-sm-9">
            <div class="mt-radio-inline">
              <label class="mt-radio">
                <input type="radio" (click)="SelectRole('admin')" [checked]="role == 'admin'" name="optionsRadios1">
                Admin
                <span></span>
              </label>
              <label class="mt-radio">
                <input type="radio" (click)="SelectRole('paralegal')" [checked]="role == 'paralegal'"
                  name="optionsRadios1">
                Paralegal
                <span></span>
              </label>
              <label class="mt-radio">
                <input type="radio" (click)="SelectRole('attorney')" [checked]="role == 'attorney'"
                  name="optionsRadios1" checked>
                Attorney
                <span></span>
              </label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <!-- BEGIN FORM-->
            <div class="form-group">
              <label>First Name</label>
              <input class="form-control" type="text" name="first_name" [(ngModel)]="profile.first_name"
                [ngModelOptions]="{standalone: true}" required />
            </div>
            <div class="form-group">
              <label>Middle Name</label>
              <input class="form-control" type="text" name="middle_name" [(ngModel)]="profile.middle_name"
                [ngModelOptions]="{standalone: true}" />
            </div>
            <div class="form-group">
              <label>Last Name</label>
              <input class="form-control" type="text" name="last_name" [(ngModel)]="profile.last_name"
                [ngModelOptions]="{standalone: true}" required />
            </div>
            <div class="form-group">
              <label>Telephone Number</label>
              <input class="form-control" type="text" name="telephone_number" [(ngModel)]="profile.telephone_number"
                [ngModelOptions]="{standalone: true}" required />
            </div>
            <div class="form-group">
              <label>Mobile Number</label>
              <input class="form-control" type="text" name="mobile_number" [(ngModel)]="profile.mobile_number"
                [ngModelOptions]="{standalone: true}" />
            </div>
            <div class="form-group">
              <label>Fax Number</label>
              <input class="form-control" type="text" name="fax_number" [(ngModel)]="profile.fax_number"
                [ngModelOptions]="{standalone: true}" />
            </div>
            <div class="form-group">
              <label class="control-label">Country</label>
              <div id="countrySelector"></div>
            </div>
            <div class="form-group">
              <label class="control-label">State</label>
              <div id="stateSelector"></div>
            </div>
            <div class="form-group">
              <label>Province</label>
              <input type="text" class="form-control" name="province" [(ngModel)]="profile.province"
                [ngModelOptions]="{standalone: true}">
            </div>
            <div class="form-group">
              <label>City</label>
              <input type="text" class="form-control" name="city" [(ngModel)]="profile.city"
                [ngModelOptions]="{standalone: true}" required>
            </div>
            <div class="form-group">
              <label>Street Number and Name</label>
              <input class="form-control" type="text" name="street" [(ngModel)]="profile.street"
                [ngModelOptions]="{standalone: true}" required />
            </div>
            <div class="form-group margin-top-20">
              <table>
                <tr>
                  <td>Apt.</td>
                  <td>Ste.</td>
                  <td>Flr.</td>
                  <td>Number</td>
                </tr>
                <tr>
                  <td>
                    <label class="mt-checkbox mt-checkbox-outline">
                      <input type="checkbox" name="apartment" [checked]="profile.apt_type == 'apartment'"
                        (change)="onAptTypeChanged($event, 'apartment')" />
                      <span></span>
                    </label>
                  </td>
                  <td>
                    <label class="mt-checkbox mt-checkbox-outline">
                      <input type="checkbox" name="suite" [checked]="profile.apt_type == 'suite'"
                        (change)="onAptTypeChanged($event, 'suite')" />
                      <span></span>
                    </label>
                  </td>
                  <td>
                    <label class="mt-checkbox mt-checkbox-outline">
                      <input type="checkbox" name="floor" [checked]="profile.apt_type == 'floor'"
                        (change)="onAptTypeChanged($event, 'floor')" />
                      <span></span>
                    </label>
                  </td>
                  <td>
                    <input class="form-control" type="text" placeholder="" name="apt_number"
                      [(ngModel)]="profile.apt_number" [ngModelOptions]="{standalone: true}" />
                  </td>
                </tr>
              </table>
            </div>
            <div class="form-group">
              <label>Zip Code</label>
              <input class="form-control" type="text" name="zip_code" [(ngModel)]="profile.zip_code"
                [ngModelOptions]="{standalone: true}" required />
            </div>
            <!-- END FORM-->
          </div>
          <div class="col-md-6">
            <!-- BEGIN FORM-->
            <div class="form-group">
              <label>Email</label>
              <input class="form-control" type="email" name="email" autocomplete="off" [(ngModel)]="user.email"
                [ngModelOptions]="{standalone: true}" required />
            </div>
            <div class="form-group">
              <label>Password</label>
              <input class="form-control placeholder-no-fix" type="password" autocomplete="off" id="register_password"
                name="password" [(ngModel)]="user.password" [ngModelOptions]="{standalone: true}" required />
            </div>
            <div class="form-group">
              <label>Confirm Password</label>
              <input class="form-control placeholder-no-fix" type="password" autocomplete="off" name="rpassword"
                [(ngModel)]="retype_password" [ngModelOptions]="{standalone: true}" required />
            </div>
            <div id="lawfirmSelectorContainer" class="form-group">
              <label>Lawfirm Name</label>
              <input class="form-control" type="text" name="lawfirm_name" id="lawfirmNameInput"
                [(ngModel)]="lawfirm_name" [ngModelOptions]="{standalone: true}" required />
            </div>
            <div class="form-group">
              <label>Lawfirm Password</label>
              <input class="form-control" type="password" name="lawfirm_password" [(ngModel)]="lawfirm_password"
                [ngModelOptions]="{standalone: true}" required />
            </div>
            <div class="form-group">
              <label>USCIS Account Number</label>
              <input class="form-control" type="text" name="uscis_account_number"
                [(ngModel)]="profile.uscis_account_number" [ngModelOptions]="{standalone: true}" />
            </div>
            <div class="form-group">
              <label>Date accreditation expires</label>
              <input class="form-control" type="date" name="accereditation_expires_date"
                [(ngModel)]="profile.accereditation_expires_date" [ngModelOptions]="{standalone: true}" required />
            </div>
            <div class="form-group">
              <label>Licensing Authority</label>
              <input class="form-control" type="text" name="licensing_authority"
                [(ngModel)]="profile.licensing_authority" [ngModelOptions]="{standalone: true}" />
            </div>
            <div class="form-group">
              <label>Bar Numer (if applicable)</label>
              <input class="form-control" type="text" name="bar_number" [(ngModel)]="profile.bar_number"
                [ngModelOptions]="{standalone: true}" />
            </div>
            <div class="form-group">
              <label class="mt-checkbox mt-checkbox-outline">
                <input id="isAttorneyCheck" type="checkbox" name="is_attorney" [(ngModel)]="profile.is_attorney"
                  [ngModelOptions]="{standalone: true}" />
                &nbsp;I am an attorney elegible to practice law and in good standing
                <span></span>
              </label>
            </div>
            <div class="form-group">
              <label class="mt-checkbox mt-checkbox-outline">
                <input id="isSubjectCheck" type="checkbox" name="is_subject_to_any"
                  [(ngModel)]="profile.is_subject_to_any" [ngModelOptions]="{standalone: true}" />
                &nbsp;I AM subject to any order suspending, enjoining, restraining, disbarring, or otherwise restricting
                me in the practice of law
                <span></span>
              </label>
              <textarea *ngIf="profile.is_subject_to_any" class="form-control" type="text"
                placeholder="Please explain..." name="subject_explaination" [(ngModel)]="profile.subject_explaination"
                [ngModelOptions]="{standalone: true}" required></textarea>
            </div>
            <div class="form-group">
              <label>Signature of Preparer</label>
              <input class="form-control" type="text" name="preparer_signature" [(ngModel)]="profile.preparer_signature"
                [ngModelOptions]="{standalone: true}" />
            </div>
            <div class="margin-bottom-10">
              <div class="form-group">
                <div class='row'>
                  <div class="col-md-2 pull-left">
                    <label>Captcha</label>
                  </div>
                  <div class="col-md-4" id="captcha_component">
                    <img src={{captcha_image}} style="width: 100%">
                    <p>
                      [ <a (click)="getCaptcha()">Generate a new code</a> ]
                    </p>
                  </div>
                  <div class="col-md-6">
                    <input class="form-control" type="text" id="captcha" [(ngModel)]="captcha_value"
                      [ngModelOptions]="{standalone: true}" required />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr />
        <div class="form-group text-center margin-top-30">
          <button type="submit" id="register-submit-btn" class="btn green" style="width: 250px; padding: 10px 0;">
            Sign Up
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
