<section class="video-hero-wrapper hide-on-mobile">
  <div id="video-hero">
    <div class="hero-content">
      <section class="hp-text-original">
        <p>Finally, a professional grade law practice management system that is a joy to use.</p>
        <div class="testim-name">Paul D.R. Fleming, Fleming Estate Law</div>
        <h1>EzDocPro is easy-to-use practice management software that helps you manage cases, track time, automate
          billing, and communicate with your clients.</h1>
      </section>
    </div>
  </div>
</section>
<section class="experience margin-top-30">
  <div class="row title">
    <h2>LawFirm Management Software</h2>
    <h3>EzDocPro is the most intuitive case management software for the modern law firm.</h3>
  </div>
</section>
<div class="row">
  <div class="col-md-12 center margin-top-30">
    <div id="photoGallery">
      <div>
        <div class="photo" style="background-image: url(../../../assets/common/img/bgs/LawArt_494892530.jpg)"></div>
      </div>
      <div>
        <div class="photo" style="background-image: url(../../../assets/common/img/bgs/32.JPG)"></div>
      </div>
      <div>
        <div class="photo" style="background-image: url(../../../assets/common/img/bgs/weitz-morgan-case-study.jpg)"></div>
      </div>
      <div>
        <div class="photo" style="background-image: url(../../../assets/common/img/bgs/TUMBLR_MPP6TJDFHF1ST5LHMO1_1280.jpg)"></div>
      </div>
      <div>
        <div class="photo" style="background-image: url(../../../assets/common/img/bgs/bob_leonard_secondary_768x342.jpg)"></div>
      </div>
      <div>
        <div class="photo" style="background-image: url(../../../assets/common/img/bgs/PORTFOLIO_4.jpg)"></div>
      </div>
      <div>
        <div class="photo" style="background-image: url(../../../assets/common/img/bgs/lane-law-divider-new.jpg)"></div>
      </div>
      <div>
        <div class="photo" style="background-image: url(../../../assets/common/img/bgs/PORTFOLIO-6.jpg)"></div>
      </div>
    </div>
  </div>
</div>
<div class="experience margin-top-30">
  <div class="row experiences">
    <h3>What You Experience</h3>
    <div class="medium-6 columns your-experience">
      <ul>
        <li class="documents">Organize critical contact and case information on one easy-to-use platform.</li>
        <li class="security">Send secure, encrypted messages to clients directly from MyCase.</li>
        <li class="payments">Accept online payments through MyCase, including eCheck payments, at no fee to you or your client!</li>
        <li class="messages">Easily create professional invoices and get paid faster with dynamic billing features.</li>
      </ul>
    </div>
    <div class="medium-6 columns clients-experience">
      <ul>
        <li class="manage-cases">Stay organized and easily find crucial documents while on-the-go from any device</li>
        <li class="time">Bill hours quickly and accurately<br>with MyCase.</li>
        <li class="permissions">Generate firm reports with one click: easily analyze data you need to improve your practice.</li>
        <li class="calendars">Never miss an important event with shareable calendars – you and your clients are always on schedule.</li>
      </ul>
    </div>
    <a class="btn more" [routerLink]="['/pages/about']">Learn more</a>
  </div>
</div>
<div class="aq-template-wrapper aq_row">
  <div class="aq-block aq-block-aq_pages_block aq_span12 aq-first clearfix">
    <div class="entry-content-wrapper team_container">
      <div class="stactic_bg_image2"></div>
      <div class="entry-content static_page_contant container">
        <div class="aq-template-wrapper aq_row">
          <div class="aq-block aq-block-aq_title_block aq_span12 aq-first clearfix">
            <div class="custom_title title_center">
              <h2>Main Members</h2>
              <span class="border_center"> </span>
              <p>We have plenty of excellent lawyers with many years of experience. </p>
            </div>
          </div>
          <div class="aq-block aq-block-aq_ourteam_block aq_span3 aq-first clearfix">
            <div class="our_team">
              <div class="hexagon"><img src="../../../assets/plugins/ELDATA/IMAGES/TEAM-1.JPG" alt="ABOUT US"/></div>
              <article class="team_desc"><a href="#"><span>christopher</span><span>Lawyer </span></a></article>
            </div>
          </div>
          <div class="aq-block aq-block-aq_ourteam_block aq_span3  clearfix">
            <div class="our_team">
              <div class="hexagon"><img src="../../../assets/plugins/ELDATA/IMAGES/TEAM-2.JPG" alt="ABOUT US"/></div>
              <article class="team_desc"><a href="#"><span>linda perry</span><span>Lawyer </span></a></article>
            </div>
          </div>
          <div class="aq-block aq-block-aq_ourteam_block aq_span3  clearfix">
            <div class="our_team">
              <div class="hexagon"><img src="../../../assets/plugins/ELDATA/IMAGES/TEAM-3.JPG" alt="ABOUT US"/></div>
              <article class="team_desc"><a href="#"><span>john mayer</span><span>Lawyer </span></a></article>
            </div>
          </div>
          <div class="aq-block aq-block-aq_ourteam_block aq_span3  clearfix">
            <div class="our_team">
              <div class="hexagon"><img src="../../../assets/plugins/ELDATA/IMAGES/TEAM-4.JPG" alt="ABOUT US"/></div>
              <article class="team_desc"><a href="#"><span>louis tomlinson</span><span>Lawyer </span></a>
              </article>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<section id="fluid_layout">
  <section id="mid_container_wrapper">
    <section id="mid_container" class="container" style="opacity: 1;">
      <section class='fullwidth' id="content_section">
        <div class="aq-template-wrapper aq_row">
      <div class="aq-block aq-block-aq_title_block aq_span12 aq-first clearfix">
        <div class="custom_title title_center">
          <h2>Our Services</h2>
          <span class="border_center"> </span>
          <p>Get unlimited access to all the benefits. Start your free trial today. </p>
        </div>
      </div>
      <div class="aq-block aq-block-aq_services_block aq_span3 aq-first clearfix">
        <div class="services">
          <a href="#">
            <div class="da-thumbs">
              <div>
                <img src="../../../assets/plugins/ELDATA/IMAGES/SERVICES_ICON_1.JPG" alt="img">
                <div>
                  <h5><span>SERVICES OVERVIEW</span></h5>
                  <span class="border_center"> </span>
                  <p><span>Donec nisl vitae blandit mollis vitae blandit mollis diam, auctor ac nunc sit</span></p>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="aq-block aq-block-aq_services_block aq_span3  clearfix">
        <div class="services">
          <a href="#">
            <div class="da-thumbs">
              <div>
                <img src="../../../assets/plugins/ELDATA/IMAGES/SERVICES_ICON_2.JPG" alt="img">
                <div>
                  <h5><span>STRATEGY</span> </h5>
                  <span class="border_center"> </span>
                  <p><span>Porttitor nisl diam Donec nisl vitae blandit mollis vitae blandit auctor ac nunc promos</span></p>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="aq-block aq-block-aq_services_block aq_span3  clearfix">
        <div class="services">
          <a href="#">
            <div class="da-thumbs">
              <div>
                <img src="../../../assets/plugins/ELDATA/IMAGES/SERVICES_ICON_3.JPG" alt="img">
                <div>
                  <h5><span>MARKETING</span> </h5>
                  <span class="border_center"> </span>
                  <p><span>Lobortis nisl diam vitae blandit auctor ac nunc promos auctor ac nunc si.</span></p>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="aq-block aq-block-aq_services_block aq_span3  clearfix">
        <div class="services">
          <a href="#">
            <div class="da-thumbs">
              <div>
                <img src="../../../assets/plugins/ELDATA/IMAGES/SERVICES_ICON_4.JPG" alt="img">
                <div>
                  <h5><span>24 / 7 SUPPORT</span> </h5>
                  <span class="border_center"> </span>
                  <p><span>Auctor nisl diamLobortis nisl diam vitae blandit auctor auctor ac nunc si amet.</span></p>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="aq-block aq-block-aq_clear_block aq_span12 aq-first clearfix">
        <div class="cf"></div>
      </div>
    </div>
      </section>
    </section>
  </section>
</section>
